# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# ---- Not in Use ----

# Installer logs
# pip-log.txt
# pip-delete-this-directory.txt

# Translations
# *.mo
# *.pot

# Sphinx documentation
# docs/_build/

# dotenv
# .env

# ---- End Not in Use ----


# virtualenv
.venv
venv/
ENV/

# mkdocs documentation
# /site

# PyCharm
.idea/

# MacOS
.DS_Store

# VS Code
.vscode/

# Modmail
config.json
plugins/
temp/