[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
pylint = "*"
bandit = ">=1.6.2"
flake8 = "*"

[packages]
colorama = ">=0.4"
python-dateutil = ">=2.8"
emoji = "~=0.5"
uvloop = {version = "*",sys_platform = "!= 'win32'"}
motor = ">=2.0.0"
natural = ">=0.2.0"
isodate = "~=0.6"
# required by motor
dnspython = "*"
parsedatetime = ">=2.5"
aiohttp = "*"
python-dotenv = "*"
# required by discord.py
pipenv = ">=3.6.0,<3.7.0"
"discord.py" = {git = "https://github.com/Rapptz/discord.py.git",ref = "c62b6c3e8815cec6f73ec20aa4d0ebd9b68a0f14"}

[scripts]
bot = "python bot.py"
