# Generated as of October, 2019
# This is the bare minimum requirements.txt for running Modmail.
# To install requirements.txt run: pip install -r requirements.min.txt

-i https://pypi.org/simple
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
dnspython==1.16.0
emoji==0.5.4
git+https://github.com/Rapptz/discord.py.git@c62b6c3e8815cec6f73ec20aa4d0ebd9b68a0f14#egg=discord-py
idna==2.8
isodate==0.6.0
motor==2.0.0
multidict==4.6.1
natural==0.2.0
parsedatetime==2.5
pymongo==3.9.0
python-dateutil==2.8.1
python-dotenv==0.10.3
six==1.13.0
yarl==1.3.0
