discord.py==1.1.1
colorama>=0.4.0
python-dateutil>=2.7.0
emoji>=0.2
motor>=2.0.0
natural==0.2.0
isodate>=0.6.0
dnspython~=1.16.0             # required by motor
parsedatetime==2.4
aiohttp>=3.3.0,<3.6.0         # to comply with discord.py
pylint                        # for style
